<ion-content padding>
  <p>
    Oupri noticed that you were talking about these topics. Select the ones that interest you and help Oupri find a
    better match next time
  </p>

  <ion-list>
    <ion-item>
      <ion-label>Gardening</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Politics</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Parenting</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Game of Thrones</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="block" routerLink="/call">Go Back</ion-button>

</ion-content>