<ion-header>
  <ion-toolbar>
    <ion-title>Select your Interests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let interest of interests">
    <ion-list-header>
      <ion-label>{{interest.group}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let activity of interest.activities">
      <ion-label>{{activity.title}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="activity.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <a routerLink="/call">
    <ion-button expand="block">Next</ion-button>
  </a>
</ion-content>