<ion-header>
  <ion-toolbar>
    <ion-title>Blue Monkey</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h5>Oupri thinks you'll enjoy this conversation with Blue Monkey because both of you..</h5>

  <ion-list>
    <ion-item>
      <ion-label>are from the same city</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>are of a similar age</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>like soccer and cricket</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>like the band Beatles</ion-label>
    </ion-item>
  </ion-list>
  <h3>Match Score: 7/10</h3>
  <ion-button color="success" expand="block" routerLink="/calling">
    Talk to Blue Monkey
  </ion-button>
  <ion-button color="danger" expand="block" routerLink="/wait">
    Find me someone else
  </ion-button>
</ion-content>